.liquidity {
  width: 375px;
  height: 100vh;
  background: #191d24;
  .l-navbar {
    width: 375px;
    height: 50px;
    background: #191d24;
    position: fixed;
    top: 0;
    left: 0;
    :deep(.van-nav-bar__title) {
      color: #fff;
      font-family: PingFangSC;
      font-size: 16px;
      font-weight: 500;
    }
  }
  :deep(.van-radio__label) {
    color: #fff;
    font-size: 14px;
  }
  .l-btns {
    width: 345px;
    height: 26px;
    padding: 70px 11px 0 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .tabs {
      width: 320px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .tab {
        width: 58px;
        height: 26px;
        font-family: Rubik;
        font-size: 12px;
        color: #afb4b9;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .tab-a {
        width: 58px;
        height: 26px;
        font-family: Rubik;
        font-size: 12px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3f4b5b;
        border-radius: 6px;
      }
    }
    .batch {
      width: 97px;
      height: 24px;
      border-radius: 4px;
      border: solid 1px #e89c3a;
      color: #e89c3a;
      font-family: PingFangSC;
      font-size: 12px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .l-cards {
    width: 375px;
    height: calc(100vh - 190px);
    margin-bottom: 10px;
    overflow: scroll;
    .card {
      width: 344px;
      height: 69px;
      margin-bottom: 12px;
      padding: 8px 11px 11px 20px;
      background-color: #232a31;
      .top {
        width: 344px;
        height: 30px;
        border-bottom: 1px solid #2a3138;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 7.5px;
        img {
          width: 15.2px;
          height: 15.3px;
          margin-right: 5.5px;
        }
        div {
          font-family: Rubik;
          font-size: 12px;
          color: #afb4b9;
        }
      }
      .content {
        width: 344px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .rows {
          width: 300px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .row {
            width: 100px;
            height: 30px;
            .name {
              height: 12px;
              line-height: 12px;
              margin-bottom: 5px;
              font-family: Rubik;
              font-size: 12px;
              text-align: center;
              color: #afb4b9;
            }
            .value {
              height: 10px;
              line-height: 10px;
              font-family: Rubik;
              font-size: 10px;
              text-align: center;
              color: #afb4b9;
            }
          }
        }
        .btn-y {
          width: 44px;
          height: 18px;
          border-radius: 4px;
          background-color: #2D281C;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: PingFangSC;
          font-size: 12px;
          color: #efa600;
        }
        .btn {
          width: 43px;
          height: 30px;
          border-radius: 8px;
          background-color: #ff801a;
          font-family: Rubik;
          font-size: 10px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .l-page {
    width: 250px;
    height: 32px;
    margin-bottom: 32px;
    padding: 0 62.5px;
    :deep(.van-pagination__item) {
      width: 85px;
      height: 32px;
      border-radius: 8px;
      padding: 0;
      color: #fff;
      background-color: #e89c3a;
      font-family: Rubik;
      font-size: 12px;
    }
    :deep(.van-pagination__item--disabled) {
      background: #3e444a;
      color: #979197;
    }
    :deep(.van-pagination__item--border:first-child:after) {
      border-width: 0;
    }
    :deep(.van-hairline--surround:after) {
      border-width: 0;
    }
    :deep(.van-pagination__page-desc) {
      height: 32px;
      color: #979197;
      font-size: 12px;
    }
  }
  .l-title {
    width: 328px;
    height: 20px;
    margin-top: 9px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 12px;
    padding: 0 23.5px;
  }
  .l-input {
    width: 326px;
    height: 42px;
    border-radius: 8px;
    box-shadow: 0 20px 60px 0 rgba(55, 62, 125, 0.05);
    border: solid 1px rgba(0, 0, 0, 0);
    background-color: #2a303c;
    margin: 0 23.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .input {
      width: 269.5px;
      height: 42px;
      :deep(.van-cell) {
        background-color: transparent;
        .van-field__control {
          color: #fff;
        }
      }
    }
    .btn {
      width: 48px;
      height: 24px;
      border-radius: 4px;
      border: solid 1px #e89c3a;
      background-color: rgba(0, 0, 0, 0);
      font-family: PingFangSC;
      font-size: 12px;
      font-weight: 500;
      color: #e89c3a;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8.5px;
    }
    :deep(.van-cell) {
      background-color: transparent;
      .van-field__control {
        color: #fff;
      }
    }
  }
  .l-info {
    width: 328px;
    height: 20px;
    margin: 0 23.7px 0 23.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      height: 17px;
      line-height: 17px;
      font-family: Manrope;
      font-size: 12px;
      font-weight: 500;
      color: #8e9bae;
    }
    .right {
      height: 20px;
      line-height: 20px;
      font-family: Manrope;
      font-size: 14px;
      color: #fff;
    }
  }
  .l-btn {
    width: 328px;
    height: 44px;
    border-radius: 8px;
    background-color: #e89c3a;
    margin: 0 23.5px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mb28 {
    margin-bottom: 15px;
  }
  .mb16 {
    margin-bottom: 16px;
  }
  .mb10 {
    margin-bottom: 10px;
  }
  .pb20 {
    padding-bottom: 20px;
    border-bottom: 1px solid #2a3138;
  }
}
:deep(.van-hairline--bottom:after) {
  border-width: 0;
}
